.regisTest{
    width: 100vw;
    height: 100vh;
    margin-top:60px;
    padding: 0;
  }
  .custom-btn-spacing {
    margin-right: 30px;
  }
  .custom-file-input::-webkit-file-upload-button {
    background-color: #28a745; /* 绿色背景色 */
    color: white; /* 文本颜色 */
    border: none; /* 无边框 */
    cursor: pointer; /* 鼠标悬停时的光标样式 */
    padding: 0.375rem 0.75rem; /* 内边距 */
    transition: background-color 0.15s ease-in-out; /* 背景颜色过渡效果 */
  }
  
  .custom-file-input::-webkit-file-upload-button:hover {
    background-color: #218838; /* 鼠标悬停时的背景颜色 */
  }